@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(to bottom, rgba(5, 5, 5, 0.3) , rgba(18, 18, 18, 0.5)), url(./img/sky.jpg);
    min-height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/* ------------ header -----------  */
/* ------------ navbar -----------  */

#nav-bar {
    background-color: #0c2750;
    position: fixed;
    top: -100px;
    width: 100%;
    display: block;
    transition: top 0.7s ease;
    z-index: 999;
}

header.hide {
  transform: translateY(-100%);
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list li {
    margin: 20px;
}

.nav-list a {
    font-size: 20px;
    color: aliceblue;
}


/* ------------ navbar -----------  */

.me {
    background-position: center;
    height: 100%;
    width: 100%;
    background-image: url(./img/me.png);
    background-repeat: no-repeat;
}

.header {
    height: 100vh;
    width: 100%;
    padding: 20px;    
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 300px;
    height: 90%;

}

.header .header-desc {
    position: relative;
    height: 100%;
    color: white;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-desc li {
    font-size: 30px;
}


.header-title {
    margin-bottom: 20px;
}

.header-button {
    margin-top: 50px;
}

.header-button button {
    --color: #0c2750;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    border: 2px solid #f5f5f5;
    background-color: #0c2750;
  }
  
  .header-button button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #f5f5f5;
    height: 150px;
    width: 300px;
    border-radius: 50%;
  }

  .header-button a {
    padding: 15px;
    color: #f5f5f5;
    transition: all 0.7s;
  }
  
  .header-button a:hover {
    color: #0c2750;
  }
  
  .header-button  button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  .header-button  button:hover:before {
    top: -30px;
    left: -30px;
  }
  
  .header-button  button:active:before {
    background: #f5f5f5;
    transition: background 0s;
  }



  

  /* -------- soc med ----------  */


.soc-med .media-info {
    font-size: 12px;
    color: #f5f5f5;
}

.soc-med .media-container i {
    font-size: 30px;
    margin-right: 20px;
    color: #e1094a;
}

.soc-med .media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.media-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
  /* -------- soc med ----------  */
  
/* 
.header-icon {
    width: 100%;
}
.header-icon ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icon li {
    margin: 10px;
    font-size: 20px;
    padding: 15px;
    border-radius: 17px;
}

.header-icon li a{
    color: #fff;
}

.header-icon .fb {
    background-color: #1877F2;
}

.header-icon .red {
    background-color: #FF5700;
}

.header-icon .gh {
    background-color: #24292e;

} */

/* ------------ header -----------  */

/* ------------ Education/skills -----------  */
.main-backgr {
    background-color: #0c2750;
    height: 50vh;
    width: 100%;
}

.backgr-sect {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-inline: 200px;
}
.stdy-sect {
    width: 100%;
    height: 100%;
}

.stdy-sect h1{
    color: #b49f77;
    font-size: 20px;
    text-align: center;
}

.stdy-sect h4 {
    color: #f5f5f5;
    text-align: center;
}

.circle-dot {
    background-color: #b00000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
}


.stdy-list {
    width: 70%;
    height: 100%;
    padding: 20px;
    position: relative;
}

.stdy-list p {
    color: #f5f5f5;
    font-weight: 200;
}

.stdy-list::before {
    content: '';
    background-color: #b00000;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0.50rem;
    top: 0;
}

.stdy-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}



/* ------------ Education/skills -----------  */

/* --------------- ABOUT -------------  */

.about-me {
    background-color: #0c2750;
    height: 50vh;
    width: 100%;
}

.abt-title {
    padding: 80px;
    text-align: center;
    color: #b49f77;
}

.abt-title h1 {
    font-size: 20px;
}

.abt-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abt-desc {
    width: 50%;
}

.abt-desc p {
    color: #f5f5f5;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}



/* --------------- ABOUT -------------  */

/* ------------ Projects -----------  */

.project {
    width: 100%;
    height: 100%;
    background-color: #0c2750;
    padding-top: 200px;
    padding-bottom: 200px;
}

.proj-title h1 {
    text-align: center;
    color: #b49f77;
}

.proj-sect {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-inline: 50px;
}

/* From Uiverse.io by alexruix */ 
.card {
    width: 300px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }
/* ------------ Projects -----------  */

/* ------------ Contact -----------  */

.contact {
    background-color: #0c2750;
    width: 100%;
    height: 100vh;
}

.contact-title {
    text-align: center;
}

.contact-title h4 {
    color: #f5f5f5;
}
.contact-title h1 {
    color: #b49f77;
}
.contact-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contact-container {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 150px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-list1 {
    padding: 200px;
    position: relative;
}

.contact-list1 img {
    position: absolute;
    left: 0;
    width: 250px;
    height: 250px;
}

.contact-detail li{
    font-size: 15px;
    margin-top: 10px;
}

.contact-detail li h1 {
    font-weight: 400;
}


.contact-name {
    left: 0;
    top: 0;
    font-size: 20px;
    position: absolute;
}

.contact-name h1{
    color: #b49f77;
}

.contact-name h4 {
    font-size: 17px;
    color: #0c2750;
    font-weight: 300;
}

.contact-list2 {
    width: 350px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
  
  .contact-list2 form .descr {
    font-size: 20px;
    font-weight: 500;
    color: #b49f77;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input, textarea {
    margin: 1em 0 1em 0;
    width: 300px;
    position: relative;
  }
  
  .input input, textarea {
    font-size: 100%;
    padding: 0.7em;
    outline: none;
    color: #0c2750;
    border: none;
    border-bottom: 2px solid #0c2750;
    background: transparent;
    border-radius: none;
    width: 100%;
    resize: none;
  }
  
  .input label {
    font-size: 100%;
    position: absolute;
    left: 0;
    color: #0c2750;
    padding: 0.7em;
    margin-left: 0.1em;
    pointer-events: none;
    transition: all 0.5s ease;
    text-transform: uppercase;
  }
  
  .input :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    padding: 0.4em;
    background: transparent;
  }
  
  .input textarea:focus ~ label,
  .input textarea:valid ~ label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    padding: 0.4em;
    background: transparent;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(37, 37, 211);
  }
  
  .form button {
    color: #b49f77;
    font-size: 15px;
    align-self: flex-start;
    padding: 0.6em;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
    background: transparent;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  
  .form button:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e8e8e8;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .form button:hover:before {
    opacity: 0.2;
  }
  
  .form button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
@media (max-width: 800px) {
    
}


/* ------------ Contact -----------  */

/* ------------ Footer -----------  */

.bg-footer {
    background-color: #b49f77;
    width: 100%;
    height: 30vh;
}

.footer-wrapper {
    height: 100%;
    margin-inline: 50px;
    padding-top: 20px;
    
}

.footer-sect {
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 20px;
    margin-inline: 10em;
    
}

.footer-sect h1 {
    color: #0c2750;
}

.ftr-list-1 {
    padding-top: 70px;
}

.ftr-list-1 p {
    color: #f5f5f5;
}

.ftr-list-2 {
    text-align: center;
}

.ftr-list-2 ul {
    font-size: 20px;
    margin-top: 30px;
}

.ftr-list-2 li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: #b00000;
    transition-duration: .5s;
}

.ftr-list-2 li:hover::before {
    width: 70px;
}

.ftr-list-2 li {
    margin-top: 10px;
    position: relative;
}
.ftr-list-2 a {
    color: white;
    font-weight: 300;
}
/* ------- icon --------  */
.ftr-lis-3 {
    text-align: center;
}

.ftr-lis-3 li {
    margin: auto;

}

.ftr-lis-3 i {
    font-size: 30px;
    background: #f5f5f5;
    font-weight: 300;
    padding: 10px;
    border-radius: 50%;
}

.ftr-lis-3 .fb {
    transition: all 0.3s ease;
}

.ftr-lis-3 .fb:hover {
    color: #1877f2;
    /* #2dba4e */
}

.ftr-lis-3 .git {
    transition: all 0.3s ease;
}

.ftr-lis-3 .git:hover {
    color: #2dba4e;
}

.ftr-lis-3 .redd {
    transition: all 0.3s ease;
}

.ftr-lis-3 .redd:hover {
    color: #FF4500;
}

.ftr-lis-3 ul {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ------- icon --------  */


/* ------------ Footer -----------  */

/* ----------- responsive ----------  */
@media (max-width: 800px) {
    /* ---- nav bar ----  */
    #nav-bar {
        display: none;
    }
    /* ---- nav bar ----  */

    /* ---- header ----  */

    .header {
        margin-bottom: 20px;
    }

    .header-wrapper {
        display: flex;
        flex-direction: column-reverse;
        margin-inline: 100px;
        height: 100%;
    }

    .header-desc li{
        font-size: 20px;
        text-align: center;
    }

    .soc-med {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        top: 0;
    }
    .media-container h1,
    .media-container p{
        font-size: 10px;
    }

    .header-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* ---- header ----  */

    /* ---- about  ----  */
    
    .about-me {
        height: 100%;
        padding-bottom: 100px;
    }
    
    /* ---- about ----  */

    /* ---- education/skill  ----  */

    .main-backgr {
        height: 100%;
    }

    .backgr-sect {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    /* ---- education/skill  ----  */

    /* ---- contact ----  */
    .contact {
        height: 100%;
        padding-bottom: 100px;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
    }

    .contact-name {
        text-align: center;
    }

    
    /* ---- contact ----  */

}

/* ----------- responsive ----------  */
